.project-pane {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
}

.card {
    width: 24rem;
    height: 36rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  }

  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(248, 248, 248, 0.2);
  }

 .banner {
    border-radius: 5px 5px 0 0;
    width:         100%;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }